@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}

header{
  background-color: #fafafa;
  box-shadow: 0 10px 5px rgba(88, 90, 88, 0.05);
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  justify-content: space-between;
  display: flex;
  align-items: center;
  height: 85px;
  padding: 5px 10%;
}
.cosas{
  display: flex;
  align-items: center;
  padding: 80px;
}

.cosas img{
  width: 35%;
  border-radius: 1000px;
  max-width: 500px;
}

.cosas p{
  font-size: 18px;
  margin-right: 20px;
}

.cosas h2{
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}

.logo{
   cursor: pointer;
   height: 70px;
   width: "auto"; 
}

h1{
  font-size: 24px;
  font-weight: bold;
  margin-right: 20px;
}

nav ul {
  display: inline-block;
  list-style: none;
}

nav li {
  display: inline-block;
  padding: 20px;
}

nav a {
  color: #333;
  text-decoration: none;
}

nav a:hover {
  color: #6168ec;
}

main {
  margin-top: 80px;
}


/* Team*/
/* Container*/
/*.container {
  max-width: 1000px;
  flex-direction: column;
}

.container {
  width: 50%;
  margin:  auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
*/

h2{
  text-align: center;
  font-weight: bold;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  
}

.column {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
}
.gallery{
  width: 40%;
  height: auto;
  border-radius: 5%;
}

.card.img {
  width: 30%;
  height: auto;
}
#sobrenosotros {
  padding: 40px;
  background-color: #ffffff;
}

#sobrenosotros h2 {
  font-size: 36px;
  margin-bottom: 40px;
  text-align: center;
}

#sobrenosotros ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#sobrenosotros li {
  margin: 20px;
  max-width: 400px;
  text-align: center;
}

#sobrenosotros img {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  border-radius: 5%;
}

#sobrenosotros h3 {
  font-size: 26px;
  margin-bottom: 10px;
}

#sobrenosotros p {
  font-size: 18px;
  margin-top: 20px;
}

#contacto {
  padding: 40px;
  background-color: #ffffff;
}

#contacto h2 {
  margin-bottom: 40px;
  font-size: 36px;
  text-align: center;  
}

form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 0 auto;
}

label {
  font-size: 18px;
  margin-bottom: 10px;
}

input,
textarea {
  padding: 10px;
  font-size: 16px;
  margin-bottom: 20px;
  border: 2px solid #ccc;
  border-radius: 4px;
}

button[type="submit"] {
  background-color: #333;
  color: #fafafa;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
}

footer{
  background-color: #fafafa;
  box-shadow: 0 10px 5px rgba(88, 90, 88, 0.05);
}
.icon{
  font-size:23px;
  color: #333;
}
.icon:hover{
  color: #9d9ea0;
  animation-duration: 3s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}