footer {
    background: rgb(0,0,0);
    background: linear-gradient(272deg, rgba(0,0,0,1) 37%, rgba(208,147,15,0.6222864145658263) 100%);
    background-color: var(--primary-color);
    box-shadow: 0 10px 5px rgba(242, 243, 242, 0.514);
    }
    .icon {
      font-size: 26px;
      color: var(--white);  
      &:hover {
        color: var(--secondary-color);
      }
      
    }