:root {
    --primary-color: #000000;
    --primary-color-light: #1f2125;
    --primary-color-extra-light: #35373b;
    --secondary-color: #f9ac54;
    --secondary-color-dark: #d79447;
    --text-light: #d1d5db;
    --white: #ffffff;
    --max-width: 1200px;
  }
  
  $p: 10px ,color #fafafa;
  $h2: 36px ,color#fafafa;
  $h1: 30px #fafafa;
  $redes-sociales: (
    facebook: "#3b5998",
    twitter: "#1da1f2",
    instagram: "#e4405f",
  );